.highcharts-button{
    display: none;
}
.select-self{
    background-color:rgba(0,0,0,0.4)!important;
    border: 1px solid rgba(0,0,0,0.3)!important;
    height: 23px;
}
.select-self > option{
    background-color: #d9edf7;
}
.input-sm{
    width: 75.333%;
    margin-bottom: 5px;
}
.pop-sm{
    width: 95%;;
}
.radio-label{
    margin-top: 7px;
}
.tips{
    font-size: 12px;
    color: #BBBBBB;
}
b{color: red;}
.item{
    width: 120px;
}