.Wdate {
	background:url("datePicker.png") no-repeat scroll 85px center;
	border-radius: 2px;
	box-sizing: content-box;
	height: 11px;
	padding: 5px 6px;
}

.WdateFmtErr {
	color: red;
	font-weight: bold;
}